body {
	margin: 0;
}

iframe {
	width: 100%;
	height: -webkit-fill-available;
}

.modal-body>table {
	width: 100%;
}

img {
	position: absolute;
	top: 0.3em;
	right: 0.3em;
	height: 2.5em;
	width: 2.5em;
	cursor: pointer;
	opacity: 0.4;
}

.modal-body>table td {
    vertical-align: top;
    padding: 0.5em 0;
}

.refresh:after {
    content: ' \21ba';
}

.refresh {
    cursor: pointer;
}
