$gh-size: 150px;

body {
    background: url(background.svg) no-repeat center center fixed;
    background-size: cover;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    color: #333;
    margin: 0;
}
.gh-link {
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
    height: $gh-size;
    width: $gh-size;
}
.cookie-notice {
    padding: 0.5em $gh-size;
    font-weight: bold;
    text-align: center;
    background: #171d42d2;
    color: #ff8c00;
    position: fixed;
    top: 0;
    width: 100%;
    box-sizing: border-box;
}
