<form name="Form" data-ng-submit="saveTrans()">
	<table id="transTable" class="table table-condensed table-hover">
		<thead>
			<tr>
				<th width="5%">ID</th>
				<th width="15%">Date</th>
				<th width="10%">Amount</th>
				<th width="25%">Comment</th>
				<th width="15%">Account</th>
				<th width="15%">Type</th>
				<th width="15%">Expense</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><input type="submit" value="+" class="btn btn-primary"
					data-ng-class="{ 'btn-danger': Form.$invalid }"
					data-ng-disabled="Form.$invalid"></td>
				<td><input type="text" class="datepicker form-control"
					pattern="\d{4}/\d{1,2}/\d{1,2}" required="required"
					data-ng-model="newTrans.date"></td>
				<td><input type="number" class="form-control"
					required="required" data-ng-model="newTrans.amount"></td>
				<td>
					<div class="datalist" data-ng-keydown="navigateDataList($event)">
						<input type="text" class="form-control" required="required"
							placeholder="Enter a comment" data-ng-model="newTrans.comment"
							data-ng-focus="showDataList = true"
							data-ng-blur="closeDataList()">
						<div data-ng-show="showDataList">
							<span data-ng-repeat="c in uniqueComments"
								data-ng-if="newTrans.comment != '' && c.startsWith(newTrans.comment)"
								data-ng-click="setComment(c)">{{ c }}</span>
						</div>
					</div>
				</td>
				<td><select class="form-control"
					data-ng-model="newTrans.account_id">
						<option data-ng-repeat="acc in accounts" value="{{ acc.id }}">{{ acc.name }}</option>
				</select></td>
				<td><select class="form-control"
					data-ng-model="newTrans.type_id">
						<option data-ng-repeat="ty in types" value="{{ ty.id }}">{{ ty.name }}</option>
				</select></td>
				<td><select class="form-control"
					data-ng-model="newTrans.expense_id">
						<option data-ng-repeat="exp in expenses" value="{{ exp.id }}">{{ exp.name }}</option>
				</select></td>
			</tr>
			<tr data-ng-repeat="t in transactions">
				<td>{{ t.id }}</td>
				<td>{{ formatDate(t.date) }}</td>
				<td>{{ t.amount / 100 }}</td>
				<td>{{ t.comment }}</td>
				<td>{{ getFromArray(accounts, t.account_id).name }}</td>
				<td>{{ getFromArray(types, t.type_id).name }}</td>
				<td>{{ getFromArray(expenses, t.expense_id).name }}</td>
			</tr>
		</tbody>
	</table>
</form>
<ul class="pagination float-right">
	<li data-ng-class="{ 'disabled':currentPage==1 }"><a href=""
		data-ng-click="goToPage((currentPage-1)||1)">&laquo;</a></li>
	<li data-ng-class="{ 'active':currentPage==(n+1) }"
		data-ng-repeat="n in [] | range:countPages()"><a href=""
		data-ng-click="goToPage(n+1)">{{ n + 1 }}</a></li>
	<li data-ng-class="{ 'disabled':currentPage==pagesCount }"><a
		href=""
		data-ng-click="goToPage((currentPage+1 <= pagesCount) ? currentPage+1 : currentPage )">&raquo;</a></li>
</ul>
