<h4>Manage types</h4>
<div id="types-view">
    <form name="Form" ng-submit="saveType()">
        <label class="sortable" ng-click="sort('name', types, drawPie)">Name</label>
        <label class="sortable" ng-click="sort('sum', types, drawPie)">Sum</label>
        <input
            type="text"
            class="form-control"
            required="required"
            ng-model="newType.name"
        >
        <input
            type="submit"
            value="Save"
            class="btn btn-primary"
            ng-class="{ 'btn-warning': Form.$invalid }"
            ng-disabled="Form.$invalid"
        >
        <div
            class="list-item type-item"
            ng-repeat="t in types"
            ng-click="setFilter({type_id:t.id.toString()})"
        >
            <span>{{ t.name }}</span>
            <span>{{ applyCurrency((t.sum/100).toFixed(2)) }}</span>
            <a href="" ng-click="deleteType(t.id);$event.stopPropagation()">Delete</a>
        </div>
    </form>
    <div id="types-chart"></div>
</div>
