<div class="expense-page">
    <div class="expense-summary">
        <h4>Summary</h4>
        <label>Approximate total active expenses</label>
        <label>Total</label>
        <label>Auto</label>
        <span>Daily</span>
        <span>{{ applyCurrency((totalActiveExpenses/100).toFixed(2) || 0) }}</span>
        <span>{{ applyCurrency((totalAutoExpenses/100).toFixed(2) || 0) }}</span>
        <span>Weekly</span>
        <span>{{ applyCurrency(((totalActiveExpenses*7)/100).toFixed(2) || 0) }}</span>
        <span>{{ applyCurrency(((totalAutoExpenses*7)/100).toFixed(2) || 0) }}</span>
        <span>Monthly</span>
        <span>{{ applyCurrency(((totalActiveExpenses*30)/100).toFixed(2) || 0) }}</span>
        <span>{{ applyCurrency(((totalAutoExpenses*30)/100).toFixed(2) || 0) }}</span>
    </div>
    <form name="GoalForm" ng-submit="saveGoal()">
        <h4>Savings goal</h4>
        <p>Create an expense to set aside funds</p>
        <label>Name</label>
        <input
            type="text"
            class="form-control"
            required="required"
            ng-model="goal.name"
        >
        <label>Amount</label>
        <input
            type="number"
            class="form-control"
            required="required"
            step="0.01"
            data-number-divide="100"
            ng-model="goal.amount"
        >
        <label>By</label>
        <input
            type="text"
            class="datepicker form-control"
            pattern="\d{4}/\d{1,2}/\d{1,2}"
            required="required"
            ng-model="goal.by"
        >
        <label>From</label>
        <select
            class="form-control"
            ng-model="goal.account_id"
            required="required"
        >
            <option ng-repeat="acc in accounts" value="{{ acc.id }}">{{ acc.name }}</option>
        </select>
        <input
            type="submit"
            value="Save"
            class="btn btn-primary"
            ng-class="{ 'btn-warning': GoalForm.$invalid }"
            ng-disabled="GoalForm.$invalid"
        >
    </form>
    <div class="expenses">
        <h4>Manage expenses (incomes have negative amounts)</h4>
        <form name="Form" ng-submit="saveExpense()">
            <div>
                <label ng-click="sort('name', expenses)">Name</label>
                <input
                    type="text"
                    class="form-control"
                    required="required"
                    ng-model="newExpense.name"
                >
            </div>
            <div>
                <label ng-click="sort('cost', expenses)">Cost</label>
                <input
                    type="number"
                    class="form-control"
                    required="required"
                    step="0.01"
                    ng-model="newExpense.cost"
                    data-number-divide="100"
                >
            </div>
            <div>
                <label>Type</label>
                <select class="form-control" ng-model="newExpense.type_id">
                    <option ng-repeat="ty in types" value="{{ ty.id }}">{{ ty.name }}</option>
                </select>
            </div>
            <div>
                <label>Frequency</label>
                <div class="dropdown" id="frequency-select">
                    <button
                        class="btn btn-default dropdown-toggle"
                        type="button"
                        data-toggle="dropdown"
                    >
                        <span ng-bind-html="trust(frequencyDisplayText(newExpense.frequency) || 'Set')"></span>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" ng-click="changeFrequencyType($event)">
                        <li ng-class="{ 'disabled' : frequency.type != 'basic' }">
                            <input
                                type="radio"
                                name="frequency"
                                value="basic"
                                ng-model="frequency.type"
                            >
                            <div>
                                Every
                                <input
                                    type="number"
                                    class="form-control"
                                    min="1"
                                    ng-model="frequency.date"
                                >
                                day(s)
                            </div>
                        </li>
                        <li ng-class="{ 'disabled' : frequency.type != 'date' }">
                            <input
                                type="radio"
                                name="frequency"
                                value="date"
                                ng-model="frequency.type"
                            >
                            <div>
                                On the
                                <input
                                    type="number"
                                    class="form-control"
                                    min="1"
                                    ng-model="frequency.date"
                                    ng-max="getDateMax(getMaxDaysInMonth(),frequency.type == 'date')"
                                >
                                <sup>{{ calculateNumberSuperscript(frequency.date) }}</sup>
                                of
                                <select class="form-control" ng-model="frequency.month">
                                    <option value="0">Every month</option>
                                    <option value="1">January</option>
                                    <option value="2">February</option>
                                    <option value="3">March</option>
                                    <option value="4">April</option>
                                    <option value="5">May</option>
                                    <option value="6">June</option>
                                    <option value="7">July</option>
                                    <option value="8">August</option>
                                    <option value="9">September</option>
                                    <option value="10">October</option>
                                    <option value="11">November</option>
                                    <option value="12">December</option>
                                </select>
                            </div>
                        </li>
                        <li ng-class="{ 'disabled' : frequency.type != 'day' }">
                            <input
                                type="radio"
                                name="frequency"
                                value="day"
                                ng-model="frequency.type"
                            >
                            <div>
                                On the
                                <input
                                    type="number"
                                    class="form-control"
                                    min="1"
                                    ng-max="getDateMax(5, frequency.type == 'day')"
                                    ng-model="frequency.date"
                                >
                                <sup>{{ calculateNumberSuperscript(frequency.date) }}</sup>
                                (last
                                <input type="checkbox" ng-model="frequency.last">)
                                <select class="form-control" ng-model="frequency.day">
                                    <option value="MO">Monday</option>
                                    <option value="TU">Tuesday</option>
                                    <option value="WE">Wednesday</option>
                                    <option value="TH">Thursday</option>
                                    <option value="FR">Friday</option>
                                    <option value="SA">Saturday</option>
                                    <option value="SU">Sunday</option>
                                </select>
                                of the month
                            </div>
                        </li>
                        <li ng-class="{ 'disabled' : frequency.type != 'monthday' }">
                            <input
                                type="radio"
                                name="frequency"
                                value="monthday"
                                ng-model="frequency.type"
                            >
                            <div>
                                On the
                                <input
                                    type="number"
                                    class="form-control"
                                    min="1"
                                    ng-max="getDateMax(31, frequency.type == 'monthday')"
                                    ng-model="frequency.date"
                                >
                                <sup>{{ calculateNumberSuperscript(frequency.date) }}</sup>
                                (last
                                <input type="checkbox" ng-model="frequency.last">
                                ) day of the month
                            </div>
                        </li>
                        <li ng-class="{ 'disabled' : frequency.type != 'workday' }">
                            <input
                                type="radio"
                                name="frequency"
                                value="workday"
                                ng-model="frequency.type"
                            >
                            <div>
                                On the
                                <input
                                    type="number"
                                    class="form-control"
                                    min="1"
                                    ng-max="getDateMax(23, frequency.type == 'workday')"
                                    ng-model="frequency.date"
                                >
                                <sup>{{ calculateNumberSuperscript(frequency.date) }}</sup>
                                (last
                                <input type="checkbox" ng-model="frequency.last">
                                ) work-day of the month
                            </div>
                        </li>
                        <li ng-class="{ 'disabled' : frequency.type != 'restday' }">
                            <input
                                type="radio"
                                name="frequency"
                                value="restday"
                                ng-model="frequency.type"
                            >
                            <div>
                                On the
                                <input
                                    type="number"
                                    class="form-control"
                                    min="1"
                                    ng-max="getDateMax(12, frequency.type == 'restday')"
                                    ng-model="frequency.date"
                                >
                                <sup>{{ calculateNumberSuperscript(frequency.date) }}</sup>
                                (last
                                <input type="checkbox" ng-model="frequency.last">
                                ) rest-day of the month
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div>
                <label class="web">Automatic</label>
                <input
                    id="automatic"
                    type="checkbox"
                    ng-model="newExpense.automatic"
                >
                <span class="mobile">Automatic</span>
            </div>
            <div>
                <label>Account</label>
                <select
                    class="form-control"
                    ng-model="newExpense.account_id"
                    ng-disabled="!newExpense.automatic"
                    ng-required="newExpense.automatic"
                >
                    <option ng-repeat="acc in accounts" value="{{ acc.id }}">{{ acc.name }}</option>
                </select>
            </div>
            <div>
                <label ng-click="sort('started', expenses)">Started</label>
                <input
                    type="text"
                    class="datepicker
                    form-control"
                    pattern="\d{4}/\d{1,2}/\d{1,2}"
                    required="required"
                    ng-model="newExpense.started"
                >
            </div>
            <input
                type="submit"
                value="Save"
                class="btn
                btn-primary"
                ng-class="{ 'btn-warning': Form.$invalid || !newExpense.frequency }"
                ng-disabled="Form.$invalid || !newExpense.frequency"
            >
        </form>
        <div
            class="list-item"
            ng-class="{ first: $first }"
            ng-repeat="e in expenses"
            ng-click="setFilter({expense_id:e.id.toString()})"
        >
            <label class="mobile">Name</label>
            <span>{{ e.name }}</span>
            <label class="mobile">Cost</label>
            <span>{{ applyCurrency((e.cost / 100).toFixed(2)) }}</span>
            <label class="mobile">Type</label>
            <span>{{ (types | prop:'id':e.type_id)[0].name }}</span>
            <label class="mobile">Frequency</label>
            <span ng-bind-html="trust(frequencyDisplayText(e.frequency))"></span>
            <input
                type="checkbox"
                disabled="disabled"
                class="web"
                ng-checked="e.automatic"
            >
            <label class="mobile" ng-class="{ 'web': e.automatic == false }">Account</label>
            <span ng-class="{ 'web': e.automatic == false }">{{ (accounts | prop:'id':e.account_id)[0].name || '' }}</span>
            <label class="mobile">Started</label>
            <span>{{ formatDate(e.started) }}</span>
            <a href="" ng-click="deleteExpense(e.id);$event.stopPropagation()">Delete</a>
        </div>
    </div>
</div>
