<div data-ng-controller="transCtrl">
	<table>
		<thead>
			<tr>
				<th>ID</th>
				<th>Date</th>
				<th>Amount</th>
				<th>Comment</th>
				<th>Account</th>
				<th>Type</th>
				<th>Expense</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><input type="button" value="+" data-ng-click="saveTrans()"></td>
				<td><input type="text" class="datepicker form-control"
					data-ng-model="newTrans.date"></td>
				<td><input type="number" class="form-control" data-ng-model="newTrans.amount"></td>
				<td><input type="text" class="form-control" data-ng-model="newTrans.comment"></td>
				<td><select class="form-control" data-ng-model="newTrans.account_id">
						<option data-ng-repeat="acc in accounts" value="{{ acc.id }}">{{ acc.name }}</option>
				</select></td>
				<td><select class="form-control" data-ng-model="newTrans.type_id">
						<option data-ng-repeat="ty in types" value="{{ ty.id }}">{{ ty.name }}</option>
				</select></td>
				<td><select class="form-control" data-ng-model="newTrans.expense_id">
						<option data-ng-repeat="exp in expenses" value="{{ exp.id }}">{{ exp.name }}</option>
				</select></td>
			</tr>
			<tr data-ng-repeat="t in transactions">
				<td>{{ t.id }}</td>
				<td>{{ formatDate(t.date) }}</td>
				<td>{{ t.amount }}</td>
				<td>{{ t.comment }}</td>
				<td>{{ getFromArray(accounts, t.account_id).name }}</td>
				<td>{{ getFromArray(types, t.type_id).name }}</td>
				<td>{{ getFromArray(expenses, t.expense_id).name }}</td>
			</tr>
		</tbody>
	</table>
</div>
