<div class="container-fluid" data-ng-controller="transCtrl">
	<div class="row">
		<div class="col-md-12">
			<div class="card">
				<div class="card-header" data-background-color="orange">
					<h4 class="title">Transactions</h4>
				</div>
				<div class="card-content table-responsive">
					<table class="table">
						<thead class="text-primary">
							<tr>
								<th>ID</th>
								<th>Amount</th>
								<th>Comment</th>
								<th>Account</th>
								<th>Type</th>
								<th>Date</th>
								<th>Expense</th>
								<th></th>
							</tr>
						</thead>
						<tbody id="transTable">
							<tr data-ng-repeat="t in transactions">
								<td>{{t.id}}</td>
								<td><input class="form-control" type="number" step="0.01"
									value="0.00" placeholder="0.00" data-ng-model="t.amount"></td>
								<td><input class="form-control" type="text"
									data-ng-model="t.comment"></td>
								<td><select class="form-control"><option
											data-ng-repeat="a in accounts" value="{{a.id}}">{{a.name}}</option></select></td>
								<td><select class="form-control"><option
											data-ng-repeat="ty in types" value="{{ty.id}}">{{ty.name}}</option></select></td>
								<td><input class="form-control" type="date"
									value="{{t.dateFormatted}}"></td>
								<td><select class="form-control"><option
											data-ng-repeat="e in expenses" value="{{e.id}}">{{e.name}}</option></select></td>
								<td><button class="btn btn-primary pull-right">
										<img src="/style/images/ic_add_black_24dp_1x.png" class="add">
									</button>
									<button class="btn btn-primary">
										<img src="/style/images/ic_remove_black_24dp_1x.png"
											class="add">
									</button></td>
							</tr>
						</tbody>
					</table>

				</div>
			</div>
		</div>
	</div>
</div>
