<div>
    <h5>
        <button
            class="btn accordion-header"
            type="button"
            data-toggle="collapse"
            data-target="#notifications"
            ng-click="readNotifications()"
        >
            <div class="notify-container">
                <span class="notify-bubble" ng-hide="(notifications | filter:is_read=false).length == 0">
                    {{(notifications | filter:is_read=false).length}}
                </span>
                Notifications
            </div>
        </button>
    </h5>
    <div id="notifications" class="collapse">
        <div
            class="notification"
            ng-repeat="n in notifications"
            ng-class="{read: n.is_read}"
            ng-mouseover="n.is_read=true"
        >
            {{n.message}}
            <a
                class="float-right"
                href=""
                ng-click="deleteNotification(n.id)"
            >
                Dismiss
            </a>
        </div>
        <p ng-hide="!!notifications.length">
            You have no notifications
        </p>
    </div>
</div>
<div>
    <h5>
        <button
            class="btn accordion-header"
            type="button"
            data-toggle="collapse"
            data-target="#controllerUsers"
        >
                      Controller users
        </button>
    </h5>
    <div id="controllerUsers" class="collapse">
        <p>
            These users will be able to switch to your account using the user picker in the header bar.
        </p>
        <p>
            <strong>
                This will allow them to make changes as well as add and remove data from your account!
            </strong>
        </p>
        <p>
            The email for the current logged in account is:
            <strong>{{ email }}</strong>
        </p>
        <form
            class="controllers"
            name="controllerForm"
            ng-submit="addController()"
        >
            <label class="sortable" ng-click="sort(null, controllers)">Email</label>
            <input
                type="email"
                class="form-control"
                required="required"
                ng-model="newController"
            >
            <input
                type="submit"
                value="Save"
                class="btn btn-primary"
                ng-class="{ 'btn-warning': controllerForm.$invalid }"
                ng-disabled="controllerForm.$invalid"
            >
            <span ng-repeat-start="email in controllers">{{ email }}</span>
            <a href="" ng-click="deleteController(email)" ng-repeat-end>Delete</a>
        </form>
    </div>
</div>
<div>
    <h5>
        <button
            class="btn accordion-header"
            type="button"
            data-toggle="collapse"
            data-target="#userSettings"
        >
            User settings
        </button>
    </h5>
    <div id="userSettings" class="collapse">
        <div class="currency">
            <label>Currency sign</label>
            <input
                type="text"
                maxLength="1"
                class="form-control"
                ng-model="currency.symbol"
                ng-change="saveCurrency()"
            />
            <label>Position</label>
            <div>
                <span>Prepend</span>
                <input
                    type="radio"
                    name="currencyPosition"
                    ng-value="true"
                    ng-model="currency.prepend"
                    ng-change="saveCurrency()"
                />
                <span>Append</span>
                <input
                    type="radio"
                    name="currencyPosition"
                    ng-value="false"
                    ng-model="currency.prepend"
                    ng-change="saveCurrency()"
                />
            </div>
        </div>
        <hr/>
        <div class="password">
            <label ng-show="passwordSet">Old Password</label>
            <input
                type="password"
                class="form-control"
                ng-model="passwordData.oldPassword"
                ng-show="passwordSet"
            />
            <label>New Password</label>
            <input
                type="password"
                class="form-control"
                ng-model="passwordData.newPassword"
                ng-class="{'alert-danger' : passwordData.confirmPassword != passwordData.newPassword}"
            />
            <label>Confirm Password</label>
            <input
                type="password"
                class="form-control"
                ng-model="passwordData.confirmPassword"
                ng-class="{'alert-danger' : passwordData.confirmPassword != passwordData.newPassword}"
            />
            <input
                type="button"
                class="btn btn-primary"
                value="Update password"
                ng-click="updatePassword()"
                ng-disabled="passwordData.confirmPassword != passwordData.newPassword"
            />
        </div>
        <hr/>
        <input
            id="deleteAccount"
            type="button"
            class="btn btn-danger"
            value="Delete account"
            ng-click="deleteUser()"
        />
    </div>
</div>
