<h4>Summary</h4>
<div>
    <table class="table">
        <thead>
        <tr>
            <th width="25%"></th>
            <th width="10%"></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><label>Strict mode</label></td>
            <td><input type="checkbox" data-ng-model="strictMode"
                       data-ng-change="getBudget()"></td>
            <td></td>
        </tr>
        <tr data-ng-class="{ 'warning' : budget.afterAll < 0 }">
            <td><label>Budget (All expenses)</label></td>
            <td>{{budget.afterAll/100}}</td>
            <td><span data-ng-show="budget.afterAll < 0">You may
						need to re-evaluate your <a href="#!expenses">expenses</a>
				</span></td>
        </tr>
        <tr data-ng-class="{ 'danger' : budget.afterAuto < 0 }">
            <td><label>Budget (Automatic expenses)</label></td>
            <td>{{budget.afterAuto/100}}</td>
            <td><span data-ng-show="budget.afterAuto < 0">You may
						not have enough to pay for some automatic expenses</span></td>
        </tr>
        </tbody>
    </table>
</div>
<div class="alert alert-danger" data-ng-bind-html="trust(getPostInstallWarning)"
     data-ng-show="getPostInstallWarning != ''"></div>
<div id="trans-chart"></div>
