<div
    class="modal fade"
    id="progressModal"
    role="dialog"
>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Import progress</h4>
            </div>
            <div class="modal-body">
                {{ (importProgress.processed * 100 / importProgress.total).toFixed() }}% Complete
                ({{ importProgress.processed }}/{{ importProgress.total }})
                <div class="progress">
                    <div
                        class="progress-bar progress-bar-success progress-bar-striped active"
                        role="progressbar"
                        ng-style="{ 'width' : (importProgress.processed * 100 / importProgress.total).toFixed(2) + '%' }"
                        ng-class="{ 'progress-bar-danger' : importError }"
                    />
                </div>
                <div>{{ importError }}</div>
            </div>
            <div class="modal-footer">
                <button
                    type="button"
                    class="btn btn-default float-right"
                    data-dismiss="modal"
                    ng-show="importError"
                >
                    Close
                </button>
            </div>
        </div>
    </div>
</div>
<h4>Import CSV</h4>
<table class="table">
    <tr>
        <td width="20%">
            <label>Parse rule</label>
        </td>
        <td width="25%">
            <select
                class="form-control"
                ng-model="rule"
                ng-change="updateEditor()"
            >
                <option ng-repeat="r in rules" value="{{ r.id }}">{{ r.name }}</option>
                <option value="">-- NEW RULE --</option>
            </select>
            <input
                type="checkbox"
                ng-model="showEditor"
                ng-disabled="!rule"
            >
            Show editor
        </td>
        <td width="30%">
            <input
                type="file"
                class="form-control-file"
                data-file-model="uploadFile"
            />
        </td>
        <td width="25%">
            <input
                type="button"
                value="Import file"
                class="btn btn-primary"
                ng-click="importFile()"
                ng-class="{ 'btn-warning': !rule || !uploadFile }"
                ng-disabled="!rule || !uploadFile"
            />
        </td>
    </tr>
    <tr ng-show="showEditor" id="rule-editor">
        <td colspan="4">
            <div class="form-group">
                <div id="editor">/** Enter import rule script here **/</div>
                <input
                    type="hidden"
                    id="ruleScript"
                    value=""
                />
            </div>

            <div class="form-group">
                <input
                    type="text"
                    class="form-control"
                    placeholder="Enter rule name"
                    ng-model="newRuleName"
                >
                <input
                    type="button"
                    class="btn btn-primary"
                    value="Save"
                    ng-class="{ 'btn-warning': !isRuleNameValid() }"
                    ng-disabled="!isRuleNameValid()"
                    ng-click="saveRule()"
                >
            </div>
        </td>
    </tr>
    <tr>
        <td colspan="4">
            <p>
                Import CSV spreadsheets into the database.
            </p>
            <p>
                The
                <i>default</i> rule expects a CSV in the format of the example below. (The first 'header' row is ignored).
            </p>
        </td>
    </tr>
    <tr>
        <td colspan="4">
            <table class="table table-bordered">
                <tr>
                    <th>Date</th>
                    <th>Amount</th>
                    <th>Comment</th>
                    <th>Account</th>
                    <th>Type</th>
                </tr>
                <tr>
                    <td>2017/01/29</td>
                    <td>12.99</td>
                    <td>Eating out</td>
                    <td>Cash</td>
                    <td>Food</td>
                </tr>
                <tr>
                    <td>2017/02/05</td>
                    <td>-2015.96</td>
                    <td>Wages</td>
                    <td>Bank</td>
                    <td>Income</td>
                </tr>
            </table>
        </td>
    </tr>
</table>
