<div
    class="modal fade"
    id="progressModal"
    role="dialog"
>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Import progress</h4>
            </div>
            <div class="modal-body">
                {{ (importProgress.processed * 100 / importProgress.total).toFixed() }}% Complete
                ({{ importProgress.processed }}/{{ importProgress.total }})
                <div class="progress">
                    <div
                        class="progress-bar progress-bar-success progress-bar-striped active"
                        role="progressbar"
                        ng-style="{ 'width' : (importProgress.processed * 100 / importProgress.total).toFixed(2) + '%' }"
                        ng-class="{ 'progress-bar-danger' : importError }"
                    />
                </div>
                <div>{{ importError }}</div>
            </div>
            <div class="modal-footer">
                <button
                    type="button"
                    class="btn btn-default float-right"
                    data-dismiss="modal"
                    ng-show="importError"
                >
                    Close
                </button>
            </div>
        </div>
    </div>
</div>
<h4>Import CSV</h4>
<div class="import">
    <label>Parse rule</label>
    <div>
        <select
            class="form-control"
            ng-model="rule"
            ng-change="updateEditor()"
        >
            <option ng-repeat="r in rules" value="{{ r.id }}">{{ r.name }}</option>
            <option value="">-- NEW RULE --</option>
        </select>
        <input
            type="checkbox"
            ng-model="showEditor"
            ng-disabled="!rule"
        >
        <span>Show editor</span>
    </div>
    <input
        type="file"
        class="form-control-file"
        data-file-model="uploadFile"
    />
    <input
        type="button"
        value="Import file"
        class="btn btn-primary"
        ng-click="importFile()"
        ng-class="{ 'btn-warning': !rule || !uploadFile }"
        ng-disabled="!rule || !uploadFile"
    />
    <div class="editor-container" ng-show="showEditor">
        <div id="editor">/** Enter import rule script here **/</div>
        <div class="editor-controls">
            <input
                type="text"
                class="form-control"
                placeholder="Enter rule name"
                ng-model="newRuleName"
            >
            <input
                type="button"
                class="btn btn-primary"
                value="Save"
                ng-class="{ 'btn-warning': !isRuleNameValid() }"
                ng-disabled="!isRuleNameValid()"
                ng-click="saveRule()"
            >
        </div>
    </div>
    <p>
        Import CSV spreadsheets into the database.
    </p>
    <p>
        The
        <i>default</i> rule expects a CSV in the format of the example below. (The first 'header' row is ignored).
    </p>
    <table class="table table-bordered">
        <tr>
            <th>Date</th>
            <th>Amount</th>
            <th>Comment</th>
            <th>Account</th>
            <th>Type</th>
        </tr>
        <tr>
            <td>2017/01/29</td>
            <td>12.99</td>
            <td>Eating out</td>
            <td>Cash</td>
            <td>Food</td>
        </tr>
        <tr>
            <td>2017/02/05</td>
            <td>-2015.96</td>
            <td>Wages</td>
            <td>Bank</td>
            <td>Income</td>
        </tr>
    </table>
</div>
