body {
	margin: 0;
}

#settingsToggle {
	position: fixed;
	width: 270px;
	height: 100vh;
	top: 0px;
	right: -250px;
	z-index: 1;
}

#settingsControl {
	position: absolute;
	background: #7a8799;
	width: 239px;
	height: 100vh;
	top: 0px;
	right: 0px;
	z-index: 2;
	padding: 5px;
	box-shadow: 0 0 20px 10px #808080;
	border: 1px solid #737373;
	font-family: "Segoe UI", sans-serif;
}

iframe {
	width: 99%;
}

input[type="text"], input[type="number"], select {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	outline: none;
	display: block;
	width: 100%;
	border: none;
	border-bottom: 1px solid #ddd;
	background: transparent;
	background: #f1f2f4;
	border-radius: 3px;
	font-size: 1em;
}

#settingsControl table {
	width: 100%;
}

