<div class="modal fade" id="progressModal" role="dialog">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Import progress</h4>
			</div>
			<div class="modal-body">
				{{ getProgressPercentage() }}% Complete ({{ importProgress.processed
				}}/{{ importProgress.total }})
				<div class="progress">
					<div
						class="progress-bar progress-bar-success progress-bar-striped active"
						role="progressbar"
						data-ng-style="{ 'width' : getProgressPercentage(true) + '%' }"></div>
				</div>
			</div>
			<div class="modal-footer">Do not shut down while in progress</div>
		</div>
	</div>
</div>
<h4>Import CSV</h4>
<table class="table">
	<tr>
		<td width="30%"><label>Parse rule</label></td>
		<td width="40%"><select class="form-control" data-ng-model="rule" data-ng-mouseover="loadRules()">
				<option data-ng-repeat="r in rules" value="{{ r }}">{{ r }}</option>
		</select></td>
		<td width="30%"><input type="button" value="Import file"
			class="btn btn-primary" data-ng-click="importFile()" /></td>
	</tr>
	<tr>
		<td colspan="3"><p>
				Import CSV spreadsheets into the database. The file is parsed
				according to one of the rules defined in the <i>rules</i> directory.
			</p>
			<p>
				The <i>default</i> rule expects a CSV in the format of the example
				below. (The first 'header' row is ignored).
			</p></td>
	</tr>
	<tr>
		<td colspan="3"><table class="table table-bordered">
				<tr>
					<th>Date</th>
					<th>Amount</th>
					<th>Comment</th>
					<th>Account</th>
					<th>Type</th>
				</tr>
				<tr>
					<td>2017/01/29</td>
					<td>12.99</td>
					<td>Eating out</td>
					<td>Cash</td>
					<td>Food</td>
				</tr>
				<tr>
					<td>2017/02/05</td>
					<td>-2015.96</td>
					<td>Wages</td>
					<td>Bank</td>
					<td>Income</td>
				</tr>
			</table></td>
	</tr>
</table>