body {
    background: url(background.svg) no-repeat center center fixed;
    background-size: cover;
}

.fb-login-button {
    display: block !important;
}

.cookie-notice {
    padding-top: 0.5em;
    font-weight: bold;
    text-align: center;
    background: #171d42d2;
    color: #ff8c00;
    position: absolute;
    width: 100%;
    top: 0;
}

.container {
    display: flex;
    justify-content: center;
}

.login {
    background-color: #f2f2f2;
    display: inline-block;
    text-align: center;
    padding: 1em;
    border-radius: 1em;
    margin: 25% 0;
}

.login * {
    margin-top: 1em;
}
