body {
    background: url(background.svg) no-repeat center center fixed;
    background-size: cover;
}

.fb-login-button {
    display: block !important;
}

.cookie-notice {
    padding: 0.5em 150px;
    font-weight: bold;
    text-align: center;
    background: #171d42d2;
    color: #ff8c00;
    position: fixed;
    width: 100%;
    top: 0;
}

.container {
    display: flex;
    justify-content: center;
}

form.login {
    margin: 20% 0 0;
}

.login {
    background-color: #f2f2f2;
    display: inline-block;
    text-align: center;
    padding: 1em;
    border-radius: 1em;
}

.login>* {
    margin-top: 1em;
}

#g-signin2 {
    display: flex;
    justify-content: center;
}

.manual {
    display: grid;
    grid-template-columns: 50% 50%;
}

@media only screen and (max-width: 500px) {
    .cookie-notice {
        padding-right: 0.5em;
        padding-left: 0.5em;
    }

    a#fork {
        display: none;
    }

    .manual {
        grid-template-columns: 100%;
    }
}

@media only screen and (max-height: 500px) and (orientation: landscape) {
    .cookie-notice {
        padding-right: 0.5em;
        padding-left: 0.5em;
    }

    a#fork {
        display: none;
    }
}
