body {
    background: url(background.svg) no-repeat center center fixed;
    background-size: cover;
}

.fb-login-button {
    display: block !important;
}

.cookie-notice {
    padding: 0.5em 150px;
    font-weight: bold;
    text-align: center;
    background: #171d42d2;
    color: #ff8c00;
    position: fixed;
    width: 100%;
    top: 0;
}

.container {
    display: flex;
    justify-content: center;
}

.login {
    background-color: #f2f2f2;
    display: inline-block;
    text-align: center;
    padding: 1em;
    border-radius: 1em;
    margin: 20% 0 0;
}

.login>* {
    margin-top: 1em;
}

#g-signin2 {
    display: flex;
    justify-content: center;
}

.manual {
    display: grid;
    grid-template-columns: 50% 50%;
}

