/* main {{{ */
body {
    font-family: "Segoe UI", sans-serif;
}

.sidebar, .main-panel {
    top: 3em;
    height: calc(100% - 3em);
}

.sidebar {
    position: fixed;
    left: 0;
    max-width: 5.5em;
    box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    background: #fff;
    transition: max-width cubic-bezier(0.33, 0.54, 0.77, 0.34) 0.2s;
    overflow-y: auto;
}

.sidebar.open {
    max-width: 500px;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    height: 3em;
    width: 100%;
    padding: 4px 10px;
    box-shadow: 6px 1px 10px 0px rgba(0, 0, 0, 0.42), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
}

.header>div:last-child {
    display: flex;
}

.sidebar, .header {
    z-index: 1;
}

.main-panel {
    position: fixed;
    right: 0;
    width: calc(100% - 5.5em);
    padding: 10px 10px 0 2em;
    margin-right: 10px;
    overflow: auto;
}

.sidebar a {
    display: block;
    padding: 10px 15px;
    margin: 0.5em 15px;
    box-shadow: 2px 2px 30px -10px rgba(0, 0, 0, 0.75);
    overflow: hidden;
    color: #428bca;
    white-space: nowrap;
    text-decoration: none !important;
    border-radius: 3px;
}

.sidebar a:hover {
    box-shadow: 0 12px 20px -10px rgba(100, 153, 239, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(100, 153, 239, 0.2);
}

.sidebar a.active {
    background: #428bca;
    color: white;
    box-shadow: inset 2px 2px 30px -10px rgba(0, 0, 0, 0.75);
}

.sidebar a>i {
    padding-right: 1em;
    font-size: large;
}

select.name {
    font-weight: bold;
    padding: 0.5em 1em;
    color: #428bca;
    margin: 0 0.5em;
}

.sortable,
table.table-hover tr td {
    cursor: pointer;
}

.sortable:after,
th[ng-click]:after {
    content: " \21c5"
}

.float-right {
    float: right;
}

.danger {
    background: #e0a3a3;
}

.warning {
    background: #ffe187;
}

img {
    width: auto;
    height: 100%;
}

select.small,
input.small {
    max-width: 15em;
    display: inline-block;
}

input.xsmall {
    max-width: 5em;
    display: inline-block;
}

.ng-hide {
    opacity: 0;
}

.ng-hide-add,
.ng-hide-remove {
    transition: all linear 0.2s;
}

.no-animate {
   -webkit-transition: none !important;
   transition: none !important;
}

div.notification {
    width: 100%;
}

div.notification.read {
    color: #d0d0d0;
}

.notify-container {
    position: relative;
}

.notify-bubble {
     position: absolute;
     top: -3px;
     right: 5px;
     padding: 3px 8px;
     background: #d9534f;
     color: white;
     font-size: 0.9em;
     border-radius: 50%;
     box-shadow: 1px 1px 1px gray;
}

.list-item:hover {
    background: #f5f5f5;
}

input {
    align-self: end;
}

.swal2-select {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;    
}
/* }}} */

/* transactions {{{ */
#trans-chart {
    height: 500px;
    width: 95%;
}

div.amcharts-chart-div>a {
    display: none !important;
}

input#export{
    margin-bottom: 3px;
}

.loader,
.loader:before,
.loader:after {
  background: #5bc0de;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.loader {
  color: #5bc0de;
  text-indent: -9999em;
  margin: 2em auto;
  position: relative;
  font-size: 0.5em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}

#scroll-button {
    position: fixed;
    bottom: 5px;
    left: calc(50% - 60px);
    margin: 0.5em;
}

.extra-lg-modal {
    width: 85%;
    margin-right: auto;
    margin-left: auto;
}

div.first-trans-of-week {
    font-weight: bold;
    text-decoration: underline;
}

.tab-content {
    border: lightgrey solid 1px;
    border-top: none;
    border-radius: 0 0 3px 3px;
    padding: 0.5em;
    margin-bottom: 4em;
}

form[name="FilterForm"] .options {
    display: grid;
    grid-template-columns: repeat(2, 1fr 5fr);
    grid-gap: 1em;
    width: 100%;
    margin: 1em 0;
}

form[name="FilterForm"] .options div.comments {
    grid-column: 2 / -1;
    display: grid;
    grid-template-columns: 4fr 3fr;
    grid-gap: 1em;
}

form[name="FilterForm"] .options label.comments {
    grid-column-start: 1;
}

.transaction.list-item,
form.transaction-form {
    display: grid;
    grid-template-columns: repeat(5, 2fr) 4fr 1fr;
}

form.transaction-form {
    grid-gap: 1em;
    margin-bottom: 1em;
}

.transaction.list-item>* {
    padding: 0.5em 1em;
    border-top: lightgrey solid 1px;
}
/* }}} */

/* types {{{ */
#types-view {
    display: grid;
    grid-template-columns: 7fr 13fr;
    grid-gap: 0.5em;
}

#types-view .type-item:first-of-type {
    margin-top: 0.5em;
}

#types-view>form,
.type-item {
    display: grid;
    grid-template-columns: 5fr 3fr 2fr;
    grid-column-gap: 0.5em;
}

#types-view>form>input:first-of-type {
    grid-column-start: 1;
}

#types-view>form>label:nth-of-type(2) {
    grid-column-start: 2;
    grid-column-end: 3;
}

.type-item {
    grid-column: 1 / -1;
    padding: 3px;
    border-top: lightgrey solid 1px;
}

#types-chart {
    height: 500px;
}
/* }}} */

/* expenses {{{ */
#frequency-select>.dropdown-menu {
    width: calc(100% + 25em);
}

#frequency-select>.btn {
    white-space: normal;
}

.dropdown-menu li {
    padding: 0 0.5em;
}

.dropdown-menu li:hover {
    background: #f5f5f5;
}

.dropdown>button {
    width: 100%;
}

.dropdown-menu input[type="number"] {
    display: inline;
    width: 20%;
}

.dropdown-menu select {
    display: inline;
    width: 30%;
}

li.disabled :not([type="radio"]) {
    pointer-events: none;
}

li.disabled {
    opacity: 0.5;
}

.expense-summary {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.expense-summary>form[name="GoalForm"] {
    display: grid;
    grid-template-columns: 3fr 7fr;
}

.expense-summary>form[name="GoalForm"]>* {
    margin: 0.5em;
}

.expense-summary>form[name="GoalForm"]>input[type="submit"] {
    grid-column-start: 2;
    grid-column-end: 3;
    margin: auto;
    width: 30%;
}

.expense-summary>form[name="GoalForm"]>h4,
.expense-summary>form[name="GoalForm"]>p
{
    grid-column-start: 1;
    grid-column-end: 3;
}
/* }}} */

/* accounts {{{ */
.no-border-inactive:not(:focus) {
    border: unset;
    box-shadow: unset;
    background: unset;
    padding: unset;
}

form[name="TransferForm"] {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 1em;
    margin-bottom: 2em;
}

form[name="AccountsForm"],
.account-item {
    display: grid;
    grid-template-columns: 1fr 1fr 3fr 3fr 1fr;
    grid-column-gap: 1em;
}

form[name="AccountsForm"] input[type="submit"] {
    align-self: end;
}

form[name="AccountsForm"] input[type="checkbox"] {
    display: block;
}

.account-item {
    grid-column: 1 / -1;
    border-top: lightgrey solid 1px;
}

div.account-item.first {
    margin-top: 0.5em;
}

.account-item>* {
    align-self: center;
}

.account-sum {
    grid-column: 1 / 3;
}

.account-sum>* {
    margin: 1em 1em 1em 0;
}
/* }}} */

/* import {{{ */
#editor {
    min-height: 20em;
    width: 100%;
}

div.import {
    display: grid;
    grid-template-columns: 1fr 2fr 3fr 1fr;
    grid-gap: 1em;
}

div.import p,
div.import table,
.editor-container {
    grid-column: 1 / -1;
} 

.editor-container>* {
    margin-bottom: 1em;
}

.editor-controls {
    display: flex;
}

.editor-controls>input[type="text"] {
    width: max-content;
    margin-right: 1em;
}
/* }}} */

/* my account {{{ */
button.accordion-header {
    width: 100%;
    border: #428bca solid 1px;
    color: #428bca;
}

.controllers {
    display: grid;
    grid-template-columns: minmax(30%, max-content) max-content;
    grid-gap: 1em;
}

.controllers>label {
    grid-column-start: 1;
    grid-column-end: 3;
}

.password,
.currency {
    display: grid;
    grid-template-columns: max-content max-content;
    grid-gap: 1em;
}

.password>input[type="button"] {
    grid-column-start: 2;
}

.currency>input[type="text"] {
    width: 5em;
}


/* }}} */

/* summary {{{ */
.summary>div {
    padding: 0.5em;
}

.summary hr {
    margin-top: 0;
    margin-bottom: 0;
}

.budget-mode {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    grid-gap: 2em;
}

.moving-average {
    display: grid;
    grid-template-columns: max-content max-content;
    grid-gap: 1em;
}

.cashflow,
.budget {
    display: grid;
    grid-template-columns: 25% max-content auto;
    grid-gap: 1em;
}

.expense-budget {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 1em;
}
/* }}} */

@media only screen and (max-width: 500px) {
/* main {{{ */
    .sidebar {
        max-width: unset;
        left: -100%;
        transition: left ease-out 0.25s;
    }

    .sidebar.open {
        left: 0;
    }

    .sidebar select.name {
        display: initial;
        width: -webkit-fill-available;
        margin: 1em;
    }

    .header #sidebar-button {
        font-size: 1.5em;
        color: #428bca;
        position: relative;
        top: 0.25em;
    }

    .main-panel {
       width: 100%; 
    }

    .sortable:after,
    th[ng-click]:after {
        content: unset;
    }
    
    .mobile {
       display: initial;
    }

    .web {
       display: none !important;
    }
/* }}} */

/* summary {{{ */
    .budget-mode,
    .cashflow,
    .moving-average,
    .budget {
        grid-template-columns: 1fr;
        grid-gap: 10px;
    }

    .expense-budget {
        grid-template-columns: auto;
    }
/* }}} */

/* my account {{{ */
    .password {
        grid-template-columns: 1fr;
    }

    .password>input[type="button"] {
        grid-column-start: 1;
    }
    
    #deleteAccount {
        width: 100%;
    }
/* }}} */

/* types {{{ */
    #types-view {
        grid-template-columns: 1fr;
    }
/* }}} */

/* import {{{ */
    div.import {
        grid-template-columns: 1fr;
    }

    div.import>table {
        font-size: 8pt;
    }
/* }}} */

/* accounts {{{ */
    form[name="TransferForm"] {
        grid-template-columns: 1fr;
    }

    
    form[name="AccountsForm"] {
        grid-template-columns: 1fr;
        grid-gap: 1em;
    }

    .account-item {
        grid-template-columns: 1fr 1fr;
        border: lightgrey solid 1px;
        border-radius: 5px;
        padding: 5px;
        box-shadow: lightgrey 1px 1px 3px 1px;
    }

    form[name="AccountsForm"] input[type="checkbox"] {
        display: initial;
    }

    .account-sum {
        grid-column: 1 / 1;
    }
/* }}} */

/* transactions {{{ */
    #export {
        width: 100%;
        margin-top: 1em;
        margin-bottom: 1em !important;
        float: unset;
    }
    
    form[name="FilterForm"] .options {
        grid-template-columns: 1fr;
    }

    form[name="FilterForm"] .options div.comments {
        grid-template-columns: 4fr 1fr;
    }

    form.transaction-form {
        grid-template-columns: 1fr;
    }
    
    #transModal input[type="button"] {
        width: 100%;
    }

    .transaction.list-item {
        grid-template-columns: 1fr 4fr;
        border: lightgrey solid 1px;
        border-radius: 5px;
        padding: 5px;
        box-shadow: lightgrey 1px 1px 3px 1px;
        margin-bottom: 1em;
    }

    .transaction.list-item>* {
        border-top: none;
    }
/* }}} */
}

@media only screen and (min-width: 500px) {
    .mobile {
        display: none !important;
    }

    .web {
        display: initial;
    }
}
