<td></td>
<td>
    <input type="text" class="datepicker form-control" pattern="\d{4}/\d{1,2}/\d{1,2}" required="required" data-ng-model="newTrans.date">
</td>
<td>
    <input type="number" class="form-control" required="required" step="0.01" data-ng-model="newTrans.amount">
</td>
<td>
    <select class="form-control" data-ng-model="newTrans.account_id">
        <option data-ng-repeat="acc in accounts" value="{{ acc.id }}">{{ acc.name }}</option>
    </select>
</td>
<td>
    <select class="form-control" data-ng-model="newTrans.type_id">
        <option data-ng-repeat="ty in types" value="{{ ty.id }}">{{ ty.name }}</option>
    </select>
</td>
<td>
    <select class="form-control" data-ng-model="newTrans.expense_id">
        <option value="">N/A</option>
        <option data-ng-repeat="exp in expenses" value="{{ exp.id }}">{{ exp.name }}</option>
    </select>
</td>
<td>
    <div class="datalist">
        <input type="text" class="form-control" required="required" placeholder="Enter a comment" list="uniqueComments" data-ng-model="newTrans.comment"
            data-ng-focus="showDataList = true" data-ng-blur="showDataList = false">
        <datalist id="uniqueComments">
            <option ng-repeat="c in uniqueComments" value="{{ c }}">
        </datalist>
    </div>
</td>
<td>
    <input type="submit" value="Save" class="btn btn-primary" data-ng-class="{ 'btn-warning': Form.$invalid }" data-ng-disabled="Form.$invalid">
</td>