<div
    class="modal fade"
    id="transModal"
    role="dialog"
>
    <div class="modal-dialog extra-lg-modal">
        <div class="modal-content">
            <div class="modal-body">
                <button
                    type="button"
                    class="close"
                    data-dismiss="modal"
                >
                    &times;
                </button>
                <form name="Form" ng-submit="saveTrans(true)">
                    <table id="modalTransTable" class="table table-condensed table-hover">
                        <thead>
                            <tr>
                                <th width="20%">Date</th>
                                <th width="10%">Amount</th>
                                <th width="10%">Account</th>
                                <th width="10%">Type</th>
                                <th width="10%">Expense</th>
                                <th width="40%">Comment</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-include="'transactions/inputRow.html'" onload="initDatePickers()"></tr>
                            <tr>
                                <td colspan="8">
                                    <input
                                        type="button"
                                        value="Delete transaction"
                                        class="float-right btn btn-danger"
                                        ng-click="deleteTrans(newTrans.id)"
                                    >
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
    </div>
</div>
<h4>Manage transactions</h4>
<ul class="nav nav-tabs">
    <li
        ng-repeat="t in tabs"
        ng-class="{ 'active': currentTab == $index }"
        ng-mouseover="t.hover = true"
        ng-mouseout="t.hover = false"
    >
        <a href="" ng-click="currentTab == $index ? deleteTab($index) : goToTab($index) ">
            {{ t.hover && currentTab == $index ? 'Close' : 'Tab ' + (t.index + 1) }}
            <span class="mobile">&times;</span>
        </a>
    </li>
    <li><a href="" ng-click="newTab()">+</a></li>
</ul>
 <div class="tab-content">
    <div ng-class="{'bg-success' : filter.fromDate || filter.toDate || filter.fromAmount != null || filter.toAmount != null || filter.account_id && filter.account_id != '0' || filter.type_id && filter.type_id != '0' || filter.expense_id && filter.expense_id != '0' || hasFilterComments() }">
        <input type="checkbox" ng-model="showFilter">
        <span>Show filter</span>
        <input
            id="export"
            type="button"
            class="btn btn-info float-right"
            value="Export current transaction set to CSV"
            ng-click="exportFilteredTransactions()"
        >
    </div>
    <form
        id="filter"
        name="FilterForm"
        ng-submit="reloadTrans()"
        ng-show="showFilter"
    >
        <table class="table table-condensed">
            <tbody>
                <tr>
                    <td colspan="3" ng-class="{'success' : filter.fromDate || filter.toDate }">
                        <label>Dates</label>
                        <div class="input-group input-daterange">
                            <input
                                type="text"
                                class="daterangepicker form-control"
                                pattern="\d{4}/\d{1,2}/\d{1,2}"
                                ng-model="filter.fromDate"
                            >
                            <div class="input-group-addon">to</div>
                            <input
                                type="text"
                                class="daterangepicker form-control"
                                pattern="\d{4}/\d{1,2}/\d{1,2}"
                                ng-model="filter.toDate"
                            >
                        </div>
                    </td>
                    <td colspan="3" ng-class="{'success' : filter.fromAmount != null || filter.toAmount != null }">
                        <label>Amount</label>
                        <div class="input-group input-daterange">
                            <input
                                type="number"
                                step="0.01"
                                class="form-control"
                                ng-model="filter.fromAmount"
                                data-number-divide="100"
                            >
                            <div class="input-group-addon">to</div>
                            <input
                                type="number"
                                step="0.01"
                                class="form-control"
                                ng-model="filter.toAmount"
                                data-number-divide="100"
                            >
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" ng-class="{'success' : filter.account_id && filter.account_id != '0' }">
                        <label>Account</label>
                        <select class="form-control" ng-model="filter.account_id">
                            <option value="0"></option>
                            <option ng-repeat="acc in accounts" value="{{ acc.id }}">{{ acc.name }}</option>
                        </select>
                    </td>
                    <td colspan="2" ng-class="{'success' : filter.type_id && filter.type_id != '0' }">
                        <label>Type</label>
                        <select class="form-control" ng-model="filter.type_id">
                            <option value="0"></option>
                            <option ng-repeat="ty in types" value="{{ ty.id }}">{{ ty.name }}</option>
                        </select>
                    </td>
                    <td colspan="2" ng-class="{'success' : filter.expense_id && filter.expense_id != '0' }">
                        <label>Expense</label>
                        <select class="form-control" ng-model="filter.expense_id">
                            <option value="0"></option>
                            <option ng-repeat="exp in expenses" value="{{ exp.id }}">{{ exp.name }}</option>
                        </select>
                    </td>
                </tr>
                <tr ng-repeat="c in filter.comments">
                    <td colspan="5" ng-class="{'success' : hasFilterComments() }">
                        <label>Comment</label>
                        <input
                            type="text"
                            class="form-control"
                            ng-model="c.comment"
                        >
                        <input type="checkbox" ng-model="c.regex"> Regular expression
                    </td>
                    <td>
                        <a
                            href=""
                            class="no-animate"
                            ng-show="$last"
                            ng-click="addCommentFilter()"
                        >
                            Add
                        </a>
                        <br/>
                        <a
                            href=""
                            class="no-animate"
                            ng-hide="$first && filter.comments.length == 1"
                            ng-click="removeCommentFilter($index)"
                        >
                            Remove
                        </a>
                    </td> 
                </tr>
                <tr>
                    <td colspan="6">
                        <div id="filter-buttons" class="float-right">
                            <input
                                type="button"
                                class="btn btn-default"
                                value="Clear"
                                ng-click="clearFilter()"
                            >
                            <input
                                type="submit"
                                class="btn btn-primary"
                                value="Apply"
                                ng-class="{ 'btn-warning': FilterForm.$invalid }"
                                ng-disabled="FilterForm.$invalid"
                            >
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <h5>Count: {{ transactionSummary.count }}</h5>
        <h5>Sum: {{ applyCurrency((transactionSummary.sum / 100).toFixed(2)) }}</h5>
    </form>
    <form name="Form" ng-submit="saveTrans()">
        <table class="table table-condensed table-hover">
            <thead>
                <tr>
                    <th width="20%" ng-click="sort('date', 'id DESC')">Date</th>
                    <th width="10%" ng-click="sort('amount', 'date DESC')">Amount</th>
                    <th width="10%">Account</th>
                    <th width="10%">Type</th>
                    <th width="10%">Expense</th>
                    <th width="40%" ng-click="sort('comment', 'date DESC')">Comment</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-include="'transactions/inputRow.html'" onload="initDatePickers()"></tr>
                <tr
                    ng-repeat="t in transactions"
                    ng-click="editTrans(t)"
                    ng-class="{ 'first-trans-of-week': t.firstOfWeek }"
                >
                    <td width="20%">{{ formatDate(t.date) }}</td>
                    <td width="10%" style="background-color:{{ getHighlight(t.amount) }};">{{ applyCurrency((t.amount / 100).toFixed(2)) }}</td>
                    <td width="10%">{{ (accounts | prop:'id':t.account_id)[0].name }}</td>
                    <td width="10%">{{ (types | prop:'id':t.type_id)[0].name }}</td>
                    <td width="10%">{{ (expenses | prop:'id':t.expense_id)[0].name || 'N/A' }}</td>
                    <td width="40%" colspan="2">{{ t.comment }}</td>
                    <td></td>
                </tr>
                <tr ng-show="moreToLoad">
                    <td colspan="8">
                        <div class="loader">Loading...</div>
                    </td>
                </tr>
            </tbody>
        </table>
        <input
            id="scroll-button"
            type="button"
            class="btn btn-info btn-sm"
            value="Back to top"
            ng-click="transScrollTop()"
        >
    </form>
 </div>
