<h4>Summary</h4>
<div>
    <table class="table">
        <thead>
            <tr>
                <th width="25%"></th>
                <th width="10%"></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <label>Strict mode</label>
                </td>
                <td colspan="2">
                    <input type="checkbox" data-ng-model="strictMode" data-ng-change="getBudget()">
                </td>
            </tr>
            <tr>
                <td>
                    <label>Expense rounds</label> 
                </td>
                <td colspan="2">
                    <input class="form-control small" type="number" step="1" min="1"
                        data-ng-min="1" data-ng-model="expenseRounds"
                        data-ng-change="expenseRounds && getBudget()"
                        data-ng-model-options="{ 'debounce' : 500 }"
                    /> 
                </td> 
            </tr> 
            <tr data-ng-class="{ 'warning' : budget.afterAll < 0 }">
                <td>
                    <label>Budget (All expenses)</label>
                </td>
                <td>{{ (budget.afterAll/100).toFixed(2) }}</td>
                <td>
                    <span data-ng-show="budget.afterAll < 0">You may need to re-evaluate your
                        <a href="#!expenses">expenses</a>
                    </span>
                </td>
            </tr>
            <tr data-ng-class="{ 'danger' : budget.afterAuto < 0 }">
                <td>
                    <label>Budget (Automatic expenses)</label>
                </td>
                <td>{{ (budget.afterAuto/100).toFixed(2) }}</td>
                <td>
                    <span data-ng-show="budget.afterAuto < 0">You may not have enough to pay for some automatic expenses</span>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div data-ng-show="cumulativeSums.length">
    <div style="display: inline-block">
        <select
            class="form-control small"
            data-ng-change="drawGraph()"
            data-ng-model="movingAvgDays"
        >
            <option value="7">Weekly</option> 
            <option value="30">Monthly</option> 
            <option value="90">Quarterly</option> 
            <option value="180">Half-yearly</option> 
            <option value="365">Annually</option> 
        </select>
    </div>
    <span>moving average</span>
</div>
<div id="trans-chart" data-ng-click="filterDate($event)"></div>
