<h4>Summary</h4>
<div>
    <table class="table">
        <thead>
            <tr>
                <th width="20%"></th>
                <th width="20%"></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr id="budgetMode">
                <td>
                    <label>Budget mode</label>
                </td>
                <td data-ng-click="getBudget()">
                    <input type="radio" name="budgetMode" value="expense" data-ng-model="budgetMode.mode"> Expense based<br/>
                    <input type="radio" name="budgetMode" value="strictExpense" data-ng-model="budgetMode.mode"> Strict expense based<br/>
                    <input type="radio" name="budgetMode" value="manual" data-ng-model="budgetMode.mode" data-ng-click="initDatePickers()"> Manual<br/>
                </td>
                <td class="no-animate" data-ng-show="budgetMode.mode == 'expense' || budgetMode.mode == 'strictExpense'">
                    <label>Expense rounds</label> 
                    <input class="form-control small" type="number" step="1" min="1"
                        data-ng-min="1" data-ng-model="budgetMode.expenseRounds"
                        data-ng-change="getBudget()"
                        data-ng-model-options="{ 'debounce' : 500 }"
                    > 
                </td> 
                <td class="no-animate" data-ng-show="budgetMode.mode == 'manual'">
                    <label>Starting</label>
                    <input id="manualStart" type="text" class="datepicker form-control small" pattern="\d{4}/\d{1,2}/\d{1,2}"
                        data-ng-model="budgetMode.start"
                        data-ng-change="getBudget()"
                        data-ng-model-options="{ 'debounce' : 500 }"
                    ><br/>
                    <label>Amount</label>
                    <div class="cell">
                        <input class="form-control small" type="number" step="0.01"
                            data-ng-model="budgetMode.amount"
                            data-ng-change="getBudget()"
                            data-ng-model-options="{ 'debounce' : 500 }"
                            data-number-divide="100"
                        ><br/>
                        <div data-ng-click="getBudget()">
                            <input type="radio" name="manualFrequency" value="7" data-ng-model="budgetMode.frequency">Weekly
                            <input type="radio" name="manualFrequency" value="30" data-ng-model="budgetMode.frequency">Monthly<br/>
                        </div> 
                    </div> 
                </td> 
            </tr>
            <tr data-ng-class="{ 'warning' : budget.afterAll < 0 }">
                <td>
                    <label>Budget</label>
                </td>
                <td>{{ (budget.afterAll/100).toFixed(2) }}</td>
                <td>
                    <div data-ng-show="budget.afterAll < 0">
                         <span data-ng-show="budgetMode.mode == 'expense' || budgetMode.mode == 'strictExpense'">
                            You may need to re-evaluate your <a href="#!expenses">expenses</a>
                        </span>
                        <span data-ng-show="budgetMode.mode == 'manual'">You have overspent your budget</span> 
                    </div>
                </td>
            </tr>
            <tr data-ng-class="{ 'danger' : budget.afterAuto < 0 }" data-ng-show="budget.afterAuto">
                <td>
                    <label>Budget (Only automatic expenses)</label>
                </td>
                <td>{{ (budget.afterAuto/100).toFixed(2) }}</td>
                <td>
                    <span data-ng-show="budget.afterAuto < 0">You may not have enough to pay for some automatic expenses</span>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div data-ng-show="cumulativeSums.length">
    <div style="display: inline-block">
        <select
            class="form-control small"
            data-ng-change="drawGraph()"
            data-ng-model="movingAvgDays"
        >
            <option value="7">Weekly</option> 
            <option value="30">Monthly</option> 
            <option value="90">Quarterly</option> 
            <option value="180">Half-yearly</option> 
            <option value="365">Annually</option> 
        </select>
    </div>
    <span>moving average</span>
</div>
<div id="trans-chart" data-ng-click="filterDate($event)"></div>
